
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="search"
                    />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default pull-right">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-results-list></app-results-list>
<div class="gif">
    <div *ngFor="let gif of gifys" class="gifs">
      <p>{{gif.title}}</p>
      <img [src]="gif.images.original.url">
    </div>
  </div>